* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    font-family: "Sora", sans-serif;
    margin: 0;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 120px;
}

.logo {
    width: 8%;
    height: 40px;
}

.menu {
    display: flex;
    gap: 35px;
}

.button {
    text-decoration: none;
    color: black;
    font-size: 12pt;
    font-weight: 600;
    text-transform: uppercase;
}

.nav-buttons {
    display: flex;
    gap: 20px;
}

.subscribe {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-size: 12pt;
    font-weight: 600;
    align-self: center;
}

.buy {
    background: #0025E8;
    color: white;
    padding: 14px 22px;
    text-decoration: none;
    font-size: 12pt;
    font-weight: 600;
    border-radius: 6px;
}

.buy:hover {
    border: solid 1px #0025E8;
    color: #0025E8;
    background-color: white;
}

.burger {
    display: none;
}

.hero {
    width: 90%;
    background-color: #F3F2EE;
    margin: 0 auto;
    padding-bottom: 100px;
}

.hero-substance {
    padding: 100px 0 110px 110px;
    display: flex;
    align-items: center;
    gap: 60px;
    width: 100%;
    margin: 0 auto;
}

.hero-content {
    width: 45%;
}

h1 {
    font-size: 55pt;
    font-family: "Playfair Display", serif;
    font-weight: 100;
}

.blue {
    color: #0025E8;
}

.hero-content p {
    font-size: 16pt;
    margin-top: 24px;
    margin-bottom: 60px;
}

.button-1 {
    color: white;
    padding: 17px 24px;
    text-decoration: none;
    font-size: 12pt;
    font-weight: 600;
    border-radius: 6px;
    text-transform: uppercase;
    background-color: #0025E8;
    margin-right: 16px;
}

.button-1:hover {
    border: solid 1px #0025E8;
    color: #0025E8;
    background-color: white;
}

.hero-image {
    width: 50%;
}

.hero-logos {
    width: 73%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 32px;
}

.solutions {
    width: 75%;
    margin: 120px auto;
}

.solutions-top {
    text-align: center;
}

.solutions-title {
    font-size: 11pt;
    color: white;
    text-transform: uppercase;
    margin-bottom: 20px;
    background-color: #0025E8;
    border-radius: 20px;
    width: max-content;
    margin: 0 auto;
    padding: 6px 18px;
    font-weight: 600;
}

.solutions-subtitle {
    font-size: 55pt;
    font-family: "Playfair Display", serif;
    font-weight: 100;
    margin-bottom: 30px;
}

.solutions-text {
    font-size: 16pt;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 80px;
}

.solutions-items {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.solution-item {
    width: 30%;
    text-align: center;
}

.solution-icon {
    width: 80px;
    height: 80px;
    background: #F3F2EE;
    margin: 0 auto 25px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.solution-icon img {
    width: 60%;
    height: 60%;
}

.solution-item h4 {
    font-size: 24pt;
    margin-bottom: 12px;
    font-family: "Playfair Display", serif;
    font-weight: 300;
}

.solution-item p {
    font-size: 16pt;
}

.sales {
    width: 90%;
    margin: 120px auto;
    display: flex;
    justify-content: space-between;
}

.sales-content {
    width: 47.5%;
    display: flex;
    align-self: center;
    flex-direction: column;
}

.sales-title {
    font-size: 11pt;
    color: white;
    text-transform: uppercase;
    margin-bottom: 20px;
    background-color: #0025E8;
    border-radius: 20px;
    width: max-content;
    padding: 6px 18px;
    font-weight: 600;
}

.sales-subtitle {
    font-size: 55pt;
    font-family: "Playfair Display", serif;
    font-weight: 100;
    margin-bottom: 30px;
}

.sales-text {
    font-size: 16pt;
    margin-bottom: 40px;
}

.sales-list {
    list-style: none;
    padding: 0;
}

.sales-list li {
    margin-bottom: 14px;
    font-size: 16pt;
    display: flex;
    align-items: center;
    gap: 16px;
}

.sales-image {
    width: 47.5%;
    height: auto;
}

.sales-image img {
    width: 100%;
}

.stats {
    width: 90%;
    margin: 120px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.stats-image {
    width: 47.5%;
    height: auto;
}

.stats-image img{
    width: 100%;
    height: auto;
}

.stats-items {
    width: 47.5%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

.stat-item h3 {
    font-size: 80pt;
    font-family: "Playfair Display", serif;
    font-weight: 100;
    margin-bottom: 12px;
    text-align: center;
}

.stat-item p {
    font-size: 16pt;
    text-align: center;
}

.testimonials {
    width: 90%;
    margin: 120px auto;
}

.testimonials-top {
    text-align: center;
}

.testimonials-title {
    font-size: 11pt;
    color: white;
    text-transform: uppercase;
    margin-bottom: 20px;
    background-color: #0025E8;
    border-radius: 20px;
    width: max-content;
    margin: 0 auto;
    padding: 6px 18px;
    font-weight: 600;
}

.testimonials-subtitle {
    font-size: 55pt;
    font-family: "Playfair Display", serif;
    font-weight: 100;
    margin-bottom: 30px;
}

.testimonials-text {
    font-size: 16pt;
    width: 60%;
    margin: 0 auto 80px auto;
}

.testimonials-items {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.testimonial-item {
    width: 32.5%;
    padding: 40px;
    background-color: #F3F2EE;
    display: flex;
    flex-direction: column;
}

.testimonial-avatar {
    width: 25%;
    height: auto;
    margin-bottom: 25px;
}

.testimonial-avatar img{
    width: 100%;
    height: auto;
}

.testimonial-item h4 {
    font-size: 30pt;
    font-family: "Playfair Display", serif;
    font-weight: 300;
    margin-bottom: 16px;
}

.testimonial-item p {
    font-size: 15pt;
    margin-bottom: 100px;
}

.testimonial-author{
    display: flex;
    flex-direction: column;
    margin-top: auto;
}

.testimonial-author .name {
    font-weight: 600;
    font-size: 14pt;
}

.testimonial-author .role {
    font-size: 12pt;
}

.guides {
    width: 90%;
    margin: 120px auto;
}

.guides-top{
    margin-left: 110px;
    margin-bottom: 80px;
}

.guides-top h2 {
    font-size: 55pt;
    font-family: "Playfair Display", serif;
    font-weight: 100;
    margin-bottom: 30px;
}

.guides-top p {
    font-size: 16pt;
    width: 70%;
}

.guides-items {
    display: flex;
    justify-content: space-between;
    margin: 0 110px;
}

.guide-card {
    width: 47.5%;
    display: flex;
    flex-direction: column;
    margin: 100px 0;
}

.guide-image {
    width: 100%;
    height: auto;
    margin-bottom: 25px;
}

.guide-image img{
    width: 100%;
}

.guide-category {
    font-size: 11pt;
    text-transform: uppercase;
    color: #D75E37;
    font-weight: 600;
}

.guide-card h3 {
    font-size: 20pt;
    margin: 15px 0;
    font-family: "Playfair Display", serif;
    font-weight: 300;
}

.guide-text {
    font-size: 14pt;
    margin-bottom: 15px;
}

.guide-author {
    font-size: 12pt;
}

.guide-author span{
    color: #0025E8;
    cursor: pointer;
}

.author{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-top: auto;
}